body {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/375/040/small/modern-white-background-free-vector.jpg");
}
h1 {
  color: Black;
}
p {
  color: Black;
}
h3 {
  color: Black;
}
ul {
  color: Black;
}
